.descrição{
    margin-left: 75px;
    margin-right: 150px;

}

.text img {
    margin-top: 100px;
    margin-right: 75px;
}

.opn {
    margin-left: 35px;
    margin-right: 35px;
    text-align: center;
    font-size: 40px;
}